<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VSACTests copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>VSACUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>587FE2771FF58E1800B127B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587FE28B1FF58E1800B127B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587FE2961FF58E1800B127B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58BCF93E226A736E004D5173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58BCF94C226A7391004D5173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58D0C95222EB81BD00C052EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58D0C96022EB81C800C052EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
